
{% extends "base.html" %}

{% load static %}

{% block body %}

	<!--single-page-->
	<div class="single-page main-grid-border">
		<div class="container">

			<ol class="breadcrumb" style="margin-bottom: 5px;">
				<!-- <li><a href="index.html">Home</a></li> -->
				<li class="active"> <a href="{% url 'product:product_list' %}"> All Ads </a></li>

				{% if category %}
				
				<li class="active">{{category}}</li>

				{%endif%}

			</ol>

			<div class="product-desc">
				<div class="col-md-7 product-view">

					<h2>{{ product_detail.name }}</h2>
					<p> <h4>owner: <strong> {{ product_detail.owner }} </strong></h4> <a> category : {{ product_detail.category }}</a>| created: {{ product_detail.created }}</p>
					<div class="flexslider">
						<ul class="slides">
							
							{% for image in product_images %}

							<li data-thumb="{{image.image.url}}">
								<img src="{{image.image.url}}" />
							</li>
							
							{% endfor %}

						</ul>
					</div>
					<!-- FlexSlider -->
					  <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
					<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />

						<script>
					// Can also be used with $(document).ready()
					$(window).load(function() {
					  $('.flexslider').flexslider({
						animation: "slide",
						controlNav: "thumbnails"
					  });
					});
					</script>
					<!-- //FlexSlider -->
					<div class="product-details">
						<h4>Brand : <a>{{ product_detail.brand }}</a></h4>
						<p><strong>Discription : {{ product_detail.description }} </strong> </p>
					
					</div>
				</div>
				<div class="col-md-5 product-details-grid">
					<div class="item-price">
						<div class="product-price">
							<p class="p-price">Price</p>
							<h3 class="rate">$  {{ product_detail.price }} </h3>
							<div class="clearfix"></div>
						</div>
						<div class="condition">
							<p class="p-price">Condition</p>
							<h4> {{ product_detail.condition }} </h4>
							<div class="clearfix"></div>
						</div>
						<div class="itemtype">
							<p class="p-price">Item Type</p>
							<h4>{{ product_detail.category }} </h4>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="interested text-center">
						<h4>Interested in this Ad?<small> Contact the Seller!</small></h4>
						<p><i class="glyphicon glyphicon-earphone"></i>+8801734522557</p>
					</div>
						<div class="tips">
						<h4>Safety Tips for Buyers</h4>
							<ol>
								<li><a href="#">This project made my <strong>Monad_Wizard</strong></a></li>								
								<li><a href="#">Contrary to popular belief.</a></li>
								<li><a href="#">Occupational Health and Safety.</a></li>
								<li><a href="#">Biological Safety.</a></li>
								<li><a href="#">Plant Safety.</a></li>
								<li><a href="#">Transportation and Storage Safety.</a></li>
								<li><a href="#">Incident and Emergency Planning.</a></li>
							</ol>
						</div>
				</div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//single-page-->

{% endblock body %}
